[Desktop Entry]
Encoding=UTF-8
Name=tom
Comment=tom P2P Cryptocurrency
Comment[fr]=tom, monnaie virtuelle cryptographique pair à pair
Comment[tr]=tom, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/tom-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/tom;
Categories=Office;
